.coursePanel {
    background: #404040;
    width: 200px;
    min-height: 162px;
    height: auto;
    padding: 1px 20px 10px;
    margin: 20px;
    border-radius: 10px;
}

.courseTitle {
    color: white;
    font-size: 25px;
}

.courseDesc {
    color: white;
    font-size: 13px;

}

.studyTime {
    color: white;
    font-size: 15px;
}

.deleteButton {
    color: white;
    font-size: 13px;
    background: #303030;
    padding: 6px 10px;
    border-radius: 20px;
}

.deleteButton:hover {
    background: #fd5c63;
}