.Stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    color: white;
    font-size: 100px;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons button {
    margin: 0px 15px;
    padding: 10px 20px;
    border-radius:5px;
    font-size: 20px;
    border: none;
    color: white;
    background: #404040;
}

.courseSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}